<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="newLayout">
<head>
    <title>IFRS Systems</title>
</head>
<body>
<section layout:fragment="content">


    <div class="row">
        <div class="col-lg-7 grid-margin stretch-card">
            <!--weather card-->
            <div class="card card-weather2">
                <div class="card-body"  >

                </div>
            </div>
            <!--weather card ends-->
        </div>
        <div class="col-lg-5 grid-margin stretch-card" >
            <div class="card card-weather4" >
                <div class="card-body" >

                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
