<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A4 Paper</title>
  <link rel="stylesheet" href="./A4.css">
</head>

<body style="--bleeding: 0.5cm;--margin: 1cm;">










    <!-- Your content here -->
      <div class="page">
   <h1>Miracle inc.</h1> 
   <h2>Consolidated statement of financial position at 31 December 20X2</h2> 
    <table class="sfp">
      <tr>
        <th><div class="sfpth"></div></th>
        <th><h4><b>Notes</b></h4></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
        <th><h4>20x0</h4></th>
      </tr>
      <tr>
        <td class="lalign"><b>ASSETS</b></td>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign"><b>Current assets</b></td>
      </tr>
      <tr>
        <td class="lalign">cash</td>
        <td></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">trade and other receivables</td>
        <td><a href="#10">10</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">inventories</td>
        <td><a href="#11">11</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
      </tr>
      <tr>
        <td class="lalign"><b>Non-current assets</b></td>
      </tr>
      <tr>
        <td class="lalign">investment in associate</td>
        <td><a href="#12">12</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">property, plant and equipment</td>
        <td><a href="#13">13</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">intangible assets</td>
        <td><a href="#14">14</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">deffered tax assets</td>
        <td><a href="#15">15</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
      </tr>
      <tr>
        <td class="lalign">Total assets</td>
        <td></td>
        <td class="ttotal">60,000</td>
        <td class="ttotal">60,000</td>
        <td class="ttotal">60,000</td>
      </tr>
      <tr></tr><tr></tr><tr></tr>
      <tr>
        <td class="lalign"><b>LIABILITIES AND EQUITY</b></td>
      </tr>
      <tr>
        <td class="lalign"><b>Current liabilities</b></td>
      </tr>
      <tr>
        <td class="lalign">Bank overdraft</td>
        <td><a href="#16">16</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">Trade payables</td>
        <td><a href="#17">17</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">Interest payable</td>
        <td><a href="#7">7</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">Current tax liability</td>
        <td></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">Provision for warranty obligations</td>
        <td><a href="#18">18</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">Current portion of employee benefit obligations</td>
        <td><a href="#19">19</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">Current portion of obligations under finance leases</td>
        <td><a href="#20">20</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
      </tr>
    </table>
    <!-- End of your content -->
  </div>
  <div class="page">
    <!-- Your content here -->
    <i>...continued</i>
    <h2>Consolidated statement of financial position at 31 December 20X2</h2>
    <table class="sfp">
      <tr>
        <th><div class="sfpth"></div></th>
        <th><h4><b>Notes</b></h4></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
        <th><h4>20x0</h4></th>
      </tr>
      <tr>
        <td class="lalign"><b>Non-current liabilities</b></td>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Bank loan</td>
        <td><a href="#16">16</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">Long-term employee benefit obligations</td>
        <td><a href="#19">19</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">Obligations under finance leases</td>
        <td><a href="#20">20</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
      </tr>
      <tr>
        <td class="lalign">Total liabilities</td>
        <td></td>
        <td class="tttotal">60,000</td>
        <td class="tttotal">60,000</td>
        <td class="tttotal">60,000</td>
      </tr>
      <tr></tr>
      <tr>
        <td class="lalign"><b>Equity</b></td>
      </tr>
      <tr>
        <td class="lalign">Share capital</td>
        <td><a href="#22">22</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td class="lalign">Retained earnings</td>
        <td><a href="#4">4</a></td>
        <td>20,000</td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
      </tr>
      <tr>
        <td class="lalign">Total liabilities and equity</td>
        <td></td>
        <td class="ttotal">60,000</td>
        <td class="ttotal">60,000</td>
        <td class="ttotal">60,000</td>
      </tr>
    </table>
    <!-- End of your content -->
  </div>

  <div class="page">



 <h1>Miracle inc.</h1>
    <h2>Consolidated statement of comprehensive income at 31 December 20X2</h2>
    <table class="sfp">
      <tr>
        <th><div class="sfpth"></div></th>
        <th><h4><b>Notes</b></h4></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td class="lalign"><b></b></td>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>

      <tr>
        <td class="lalign"><b></b></td>
      </tr>
      <tr>
        <td class="lalign">Revenue</td>
        <td></td>
        <td>20,0000</td>
        <td>20,0000</td>
      </tr>
      <tr>
        <td class="lalign">Cost of Goods Sold</td>
        <td><a href="#10">10</a></td>
        <td>(20,000)</td>
        <td>(20,000)</td>
      </tr>

      <tr>
        <td class="lalign"><b>Operating Expense:</b></td>
        <td></td>
      </tr>

      <tr>
        <td class="lilpadding">Advertising Cost</td>
        <td><a href="#11">11</a></td>
        <td>(20,000)</td>
        <td>(20,000)</td>
      </tr>
    <tr>
        <td class="lilpadding">Freight Cost</td>
        <td><a href="#12">12</a></td>
        <td>(20,000)</td>
        <td>(20,000)</td>
      </tr>
    <tr>
        <td class="lilpadding">Repair and Maintainance</td>
        <td><a href="#13">13</a></td>
        <td>(20,000)</td>
        <td>(20,000)</td>
      </tr>
    <tr>
        <td class="lilpadding">Employee Salaries and Benefits</td>
        <td><a href="#14">14</a></td>
        <td>(20,000)</td>
        <td>(20,000)</td>
      </tr>
    <tr>
        <td class="lilpadding">Other Operating Expense</td>
        <td><a href="#15">15</a></td>
        <td>(20,000)</td>
        <td>(20,000)</td>
      </tr>


    <tr>
        <td class="lalign">Depreciation and Amortization</td>
        <td><a href="#16">16</a></td>
        <td>(20,000)</td>
        <td>(20,000)</td>
      </tr>
    <tr>
        <td class="lalign">Other Expense</td>
        <td><a href="#17">17</a></td>
        <td>(20,000)</td>
        <td>(20,000)</td>
      </tr>
    <tr>
        <td class="lalign">Interest Expense</td>
        <td><a href="#18">18</a></td>
        <td>(20,000)</td>
        <td>(20,000)</td>
      </tr>
    <tr>
        <td class="lalign"><b>Profit Before Tax</b></td>
        <td><a href=""</a></td>
        <td class="tttotal"><b>120,000</b></td>
        <td class="tttotal"><b>180,000</b></td>
      </tr>
    <tr>
        <td class="lalign">Income Tax</td>
        <td><a href="#20">20</a></td>
        <td>(20,000)</td>
        <td>(20,000)</td>
      </tr>
    <tr>
        <td class="lalign"><b>Profit For The Year</b></td>
        <td><a href=""></a></td>
        <td class="tttotal"><b>100,000</b></td>
        <td class="tttotal"><b>160,000</b></td>
      </tr>


    <tr>
        <td><b>Other Comprehensive income:</b></td>
        <td></td>
      </tr><tr>
        <td class="lalign">Available for Sale </td>
        <td><a href=""></a></td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
    <tr>
        <td class="lalign">Unrealised Gains/Losses</td>
        <td><a href=""></a></td>
        <td>20,000</td>
        <td>20,000</td>
      </tr>
     <tr>
        <td class="lalign"><b>Total Comprehensive income</b></td>
        <td><a href=""></a></td>
        <td class="tttotal"><b>120,000</b></td>
        <td class="tttotal"><b>200,000</b></td>
      </tr>
    </table>
    </div>




  <div class="page">
    <!-- Your content here -->
    <h1>Miracle inc.</h1>
    <h2>Consolidated statement of cash flows for the year ended 31 December 20X2</h2>
    <table class="sfp">
      <tr>
        <th><div class="sfpth"></div></th>
        <th><h4><b>Notes</b></h4></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign"><b>Cash flows from operating activities</b></td>
      </tr>
      <tr>
        <td class="lalign">Profit for the year</td>
        <td></td>
        <td>200,000</td>
        <td>200,000</td>
      </tr>
      <tr><td class="lalign">Adjustments for non-cash income and expenses:</td></tr>
      <tr>
        <td class="lilpadding">Non-cash finance costs (a)</td>
        <td></td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lilpadding">Non-cash income tax expense (b)</td>
        <td></td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lilpadding">Depreciation of property, plant and equipment</td>
        <td></td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lilpadding">Impairment loss</td>
        <td></td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lilpadding">Amortisation of intangibles</td>
        <td></td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr><td class="lalign">Cash flow included in investing activities:</td></tr>
      <tr>
        <td class="lilpadding">Gain on sale of equipment</td>
        <td></td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Changes in operating assets and liabilities</td>
      </tr>
      <tr>
        <td class="lilpadding">Decrease (increase) in trade and other receivables</td>
        <td></td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lilpadding">Decrease (increase) in inventories</td>
        <td></td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lilpadding">Increase (decrease) in trade payables (c)</td>
        <td></td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lilpadding">Increase in current and long-term employee benefit payable</td>
        <td></td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Net cash from operating activities</td>
        <td></td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
      </tr>
      <tr>
        <td class="lalign"><b>Cash flows from investing activities</b></td>
      </tr>
      <tr>
        <td class="lalign">Proceeds from sale of equipment</td>
        <td></td>
        <td >60,000</td>
        <td >60,000</td>
      </tr>
      <tr>
        <td class="lalign">Purchases of equipment</td>
        <td></td>
        <td >60,000</td>
        <td >60,000</td>
      </tr>
      <tr>
        <td class="lalign">Net cash used in investing activities</td>
        <td></td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
      </tr>
    </table>
    <!-- End of your content -->
  </div>
  <div class="page">
    <!-- Your content here -->
    <i>...continued</i>
    <h2>Consolidated statement of cash flows for the year ended 31 December 20X2</h2>
    <table class="sfp">
      <tr>
        <th><div class="sfpth"></div></th>
        <th><h4><b>Notes</b></h4></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign"><b>Cash flows from financing activities</b></td>
      </tr>
      <tr>
        <td class="lalign">Payment of finance lease liabilities</td>
        <td></td>
        <td >60,000</td>
        <td >60,000</td>
      </tr>
      <tr>
        <td class="lalign">Repayment of borrowings</td>
        <td></td>
        <td >60,000</td>
        <td >60,000</td>
      </tr>
      <tr>
        <td class="lalign">Dividends paid</td>
        <td></td>
        <td >60,000</td>
        <td >60,000</td>
      </tr>
      <tr>
        <td class="lalign">Net cash used in financing activities</td>
        <td></td>
        <td class="total">60,000</td>
        <td class="total">60,000</td>
      </tr>
      <tr>
        <td class="lalign">Net increase (decrease) in cash and cash equivalents</td>
        <td></td>
        <td >60,000</td>
        <td >60,000</td>
      </tr>
      <tr>
        <td class="lalign">Cash and cash equivalents at beginning of year</td>
        <td></td>
        <td CLASS="tttotal">60,000</td>
        <td CLASS="tttotal">60,000</td>
      </tr>
      <tr>
        <td class="lalign">Cash and cash equivalents at end of year</td>
        <td><a href="#23">23</a></td>
        <td CLASS="ttotal">60,000</td>
        <td CLASS="ttotal">60,000</td>
      </tr>
      <tr></tr><tr></tr>
      <tr>
        <td class="lalign">(a) Finance costs paid in cash</td>
        <td></td>
        <td >60,000</td>
        <td >60,000</td>
      </tr>
      <tr>
        <td class="lalign">(b) Income taxes paid in cash</td>
        <td></td>
        <td >60,000</td>
        <td >60,000</td>
      </tr>
      <tr>
        <td class="lalign">(c) Includes unrealised foreign exchange loss</td>
        <td></td>
        <td >60,000</td>
        <td >60,000</td>
      </tr>
    </table>
    <!-- End of your content -->
  </div>
  </div>
  <div class="page">
    <!-- Your content here -->
    <h1>Miracle inc.</h1>
    <h2>Accounting policies and explanatory notes to the financial statements for the year ended 31 December 20X2</h2>
    <h3 id="1">1. General information</h3>
    <p>
      Miracle inc. is a limited company incorporated in A Land. The address of its
      registered office and principal place of business is Addis Ababa, Ethiopia.
      Miracle inc. consists of the Company and its wholly-owned subsidiary Miracle (Trading)
      Limited. Their principal activities are the manufacture and sale of candles.
    </p>
    <h3 id="2">2. Basis of preparation and accounting policies</h3>
    <p>
      These consolidated financial statements have been prepared in accordance with the
      International Financial Reporting Standard for Small and Medium-sized Entities issued by the
      International Accounting Standards Board. They are presented in the currency units (CU)
      of A Land.
    </p>
    <i>Basis of consolidation</i>
    <p>
      The consolidated financial statements incorporate the financial statements of the
      Company and its wholly-owned subsidiary. All intragroup transactions, balances, income
      and expenses are eliminated.
    </p>
    <i>Investments in associates</i>
    <p>
      Investments in associates are accounted for at cost less any accumulated impairment
      losses.
      Dividend income from investments in associates is recognised when the Group’s right to
      receive payment has been established. It is included in other income.
    </p>
    <i>Revenue recognition</i>
    <p>
      Revenue from sales of goods is recognised when the goods are delivered and title has
      passed. Royalty revenue from licensing candle-making patents for use by others is
      recognised on a straight-line basis over the licence period. Revenue is measured at the fair
      value of the consideration received or receivable, net of discounts and sales-related taxes
      collected on behalf of the government of A Land.
    </p>
    <i>Borrowing costs</i>
    <p>
      All borrowing costs are recognised in profit or loss in the period in which they are incurred.
    </p>
    <i>Income tax</i>
    <p>
      Income tax expense represents the sum of the tax currently payable and deferred tax.
      The tax currently payable is based on taxable profit for the year.
    </p>
    <p>
      Deferred tax is recognised on differences between the carrying amounts of assets and
      liabilities in the financial statements and their corresponding tax bases (known as
      temporary differences). Deferred tax liabilities are recognised for all temporary
      differences that are expected to increase taxable profit in the future. Deferred tax assets
      are recognised for all temporary differences that are expected to reduce taxable profit in
      the future, and any unused tax losses or unused tax credits. Deferred tax assets are
      measured at the highest amount that, on the basis of current or estimated future taxable
      profit, is more likely than not to be recovered.
    </p>
    <!-- End of your content -->
  </div>
  <div class="page">
    <p>
      The net carrying amount of deferred tax assets is reviewed at each reporting date and is
      adjusted to reflect the current assessment of future taxable profits. Any adjustments are
      recognised in profit or loss.
    </p>
    <p>
      Deferred tax is calculated at the tax rates that are expected to apply to the taxable profit
      (tax loss) of the periods in which it expects the deferred tax asset to be realised or the
      deferred tax liability to be settled, on the basis of tax rates that have been enacted or
      substantively enacted by the end of the reporting period.
    </p>
    <i>Property, plant and equipment</i>
    <p>
      Items of property, plant and equipment are measured at cost less accumulated
      depreciation and any accumulated impairment losses.
    </p>
    <p>
      Depreciation is charged so as to allocate the cost of assets less their residual values over
      their estimated useful lives, using the straight-line method. The following annual rates are
      used for the depreciation of property, plant and equipment:
    </p>
    <pre>
      Buildings                           2 per cent
      Fixtures and equipment              10–30 per cent
    </pre>
    <p>
      If there is an indication that there has been a significant change in depreciation rate,
      useful life or residual value of an asset, the depreciation of that asset is revised
      prospectively to reflect the new expectations.
    </p>
    <i>Intangible assets</i>
    <p>
      Intangible assets are purchased computer software that is stated at cost less accumulated
      depreciation and any accumulated impairment losses. It is amortised over its estimated
      life of five years using the straight-line method. If there is an indication that there has
      been a significant change in amortisation rate, useful life or residual value of an intangible
      asset, the amortisation is revised prospectively to reflect the new expectations.
    </p>
    <i>Impairment of assets</i>
    <p>
      At each reporting date, property, plant and equipment, intangible assets, and investments
      in associates are reviewed to determine whether there is any indication that those assets
      have suffered an impairment loss. If there is an indication of possible impairment, the
      recoverable amount of any affected asset (or group of related assets) is estimated and
      compared with its carrying amount. If estimated recoverable amount is lower, the
      carrying amount is reduced to its estimated recoverable amount, and an impairment loss
      is recognised immediately in profit or loss.
    </p>
    <p>
      Similarly, at each reporting date, inventories are assessed for impairment by comparing
      the carrying amount of each item of inventory (or group of similar items) with its selling
      price less costs to complete and sell. If an item of inventory (or group of similar items) is
      impaired, its carrying amount is reduced to selling price less costs to complete and sell,
      and an impairment loss is recognised immediately in profit or loss.
    </p>
    <p>
      If an impairment loss subsequently reverses, the carrying amount of the asset (or group of
      related assets) is increased to the revised estimate of its recoverable amount (selling price
      less costs to complete and sell, in the case of inventories), but not in excess of the amount
      that would have been determined had no impairment loss been recognised for the asset
      (group of related assets) in prior years. A reversal of an impairment loss is recognised
      immediately in profit or loss.
    </p>
  </div>
  <div class="page">
    <i>Leases</i>
    <p>
      Leases are classified as finance leases whenever the terms of the lease transfer substantially
      all the risks and rewards of ownership of the leased asset to the Group. All other leases are
      classified as operating leases.
    </p>
    <p>
      Rights to assets held under finance leases are recognised as assets of the Group at the fair
      value of the leased property (or, if lower, the present value of minimum lease payments) at
      the inception of the lease. The corresponding liability to the lessor is included in the
      statement of financial position as a finance lease obligation. Lease payments are
      apportioned between finance charges and reduction of the lease obligation so as to achieve
      a constant rate of interest on the remaining balance of the liability. Finance charges
      are deducted in measuring profit or loss. Assets held under finance leases are included in
      property, plant and equipment, and depreciated and assessed for impairment losses in the
      same way as owned assets.
    </p>
    <p>
      Rentals payable under operating leases are charged to profit or loss on a straight-line basis
      over the term of the relevant lease.
    </p>
    <i>Inventories</i>
    <p>
      Inventories are stated at the lower of cost and selling price less costs to complete and sell.
      Cost is calculated using the first-in, first-out (FIFO) method.
    </p>
    <i>Trade and other receivables</i>
    <p>
      Most sales are made on the basis of normal credit terms, and the receivables do not bear
      interest. Where credit is extended beyond normal credit terms, receivables are measured
      at amortised cost using the effective interest method. At the end of each reporting period,
      the carrying amounts of trade and other receivables are reviewed to determine whether
      there is any objective evidence that the amounts are not recoverable. If so, an impairment
      loss is recognised immediately in profit or loss.
    </p>
    <i>Trade payables</i>
    <p>
      Trade payables are obligations on the basis of normal credit terms and do not bear interest.
      Trade payables denominated in a foreign currency are translated into CU using the
      exchange rate at the reporting date. Foreign exchange gains or losses are included in other
      income or other expenses.
    </p>
    <i>Bank loans and overdrafts</i>
    <p>
      Interest expense is recognised on the basis of the effective interest method and is included
      in finance costs.
    </p>
    <i>Employee benefits—long-service payment</i>
    <p>
      The liability for employee benefit obligations relates to government-mandated
      long-service payments. All full-time staff, excluding directors, are covered by the
      programme. A payment is made of 5 per cent of salary (as determined for the twelve
      months before the payment) at the end of each of five years of employment. The payment
      is made as part of the December payroll in the fifth year. The Group does not fund this
      obligation in advance.
      The Group’s cost and obligation to make long-service payments to employees are
      recognised during the employees’ periods of service. The cost and obligation are measured
      using the projected unit credit method, assuming a 4 per cent average annual salary
      increase, with employee turnover based on the Group’s recent experience, discounted
      using the current market yield for high quality corporate bonds.
    </p>
  </div>
  <div class="page">
    <i>Provision for warranty obligations</i>
    <p>
      All goods sold by the Group are warranted to be free of manufacturing defects for a period
      of one year. Goods are repaired or replaced at the Group’s option. When revenue is
      recognised, a provision is made for the estimated cost of the warranty obligation.
    </p>
    <h3 id="3">3. Key sources of estimation uncertainty</h3>
    <i>Long-service payments</i>
    <p>
      In determining the liability for long-service payments (explained in note 19), management
      must make an estimate of salary increases over the following five years, the discount rate
      for the next five years to use in the present value calculation, and the number of employees
      expected to leave before they receive the benefits.
    </p>
    <h3 id="4">4. Restriction on payment of dividend</h3>
    <p>
      Under the terms of the bank loan and bank overdraft agreements, dividends cannot be
      paid to the extent that they would reduce the balance of retained earnings below the sum
      of the outstanding balance of the bank loan and the bank overdraft.
    </p>
    <h3 id="5">5. Revenue</h3>
    <table class="sfp">
      <tr>
        <th><div class="sfpth"></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Sale of goods</td>
        <td>2,000,000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Royalties – licensing of candle-making patents</td>
        <td class="tttotal">2,000,000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td></td>
        <td class="ttotal">2,000,000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <h3 id="6">6. Other income</h3>
    <p>
      Other income includes dividends received from an associate of CU25,000 in both 20X1 and
      20X2 and gain on disposal of property, plant and equipment of CU63,850 in 20X2.
    </p>
    <h3 id="7">7. Finance costs</h3>
    <table class="sfp">
      <tr>
        <th><div class="sfpth"></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Interest on bank loan and overdraft</td>
        <td>2,000,000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Interest on finance leases</td>
        <td class="tttotal">2,000,000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td></td>
        <td class="ttotal">2,000,000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
  </div>
  </div>
  <div class="page">
    <h3 id="8">8. Profit before tax</h3>
    <table class="sfp">
      <tr>
        <th><div class="sfpth"></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Cost of inventories recognised as expense</td>
        <td>2,000,000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Research and development cost (included in other expenses)</td>
        <td>2,000,000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Foreign exchange loss on trade payables (included in other expenses)</td>
        <td>2,000,000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Warranty expense (included in cost of sales*)</td>
        <td>2,000,000</td>
        <td>2000</td>
      </tr>
    </table>
    <p>
      *If the entity classifies its expenses by nature in its income statement, this would say ‘included in raw
      materials and consumables used’.
    </p>
    <h3 id="9">9. Income tax expense</h3>
    <table class="sfp">
      <tr>
        <th><div class="sfpth"></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Current tax</td>
        <td>2,000,000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Deferred tax (note 15)</td>
        <td class="tttotal">2,000,000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td></td>
        <td class="ttotal">2,000,000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <p>
      Income tax is calculated at 40 per cent (20X1: 40 per cent) of the estimated assessable profit
      for the year.
    </p>
    <p>
      Income tax expense for the year CU270,250 in 20X2 (CU189,559 in 20X1) differs from the
      amount that would result from applying the tax rate of 40 per cent (both 20X2 and 20X1)
      to profit before tax because, under the tax laws of A Land, some employee compensation
      expenses (CU20,670 in 20X2 and CU16,750 in 20X1) that are recognised in measuring profit
      before tax are not tax-deductible.
    </p>
    <h3 id="10">10. Trade and other receivables</h3>
    <table class="sfp">
      <tr>
        <th><div class="sfpth"></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Trade debtors</td>
        <td>2,000,000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Prepayments</td>
        <td class="tttotal">2,000,000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td></td>
        <td class="ttotal">2,000,000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
  </div>
  <div class="page">
    <h3 id="11">11. Inventories</h3>
    <table class="sfp">
      <tr>
        <th><div class="sfpth"></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Raw materials</td>
        <td>2,000,000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Work in progress</td>
        <td>2,000,000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Finished goods</td>
        <td class="tttotal">2,000,000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td></td>
        <td class="ttotal">2,000,000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <h3 id="12">12. Investment in associate</h3>
    <p>The Group owns 35 per cent of an associate whose shares are not publicly traded.</p>
    <table class="sfp">
      <tr>
        <th><div class="sfpth"></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Cost of investment in associate</td>
        <td>2,000,000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Dividend received from associate (included in other income)</td>
        <td>2,000,000</td>
        <td>2000</td>
      </tr>
    </table>
    <h3 id="13">13. Property, plant and equipment</h3>
    <p>
      During 20X2 the Group noticed a significant decline in the efficiency of a major piece of
      equipment and so carried out a review of its recoverable amount. The review led to the
      recognition of an impairment loss of CU30,000.
    </p>
    <p>
      The carrying amount of the Group’s fixtures and equipment includes an amount of
      CU40,000 (20X1: CU60,000) in respect of assets held under finance leases.
      On 10 December 20X2 the directors resolved to dispose of a machine. The machine’s
      carrying amount of CU1,472 is included in fixtures and equipment at 31 December 20X2,
      and trade payables includes the Group’s remaining obligation of CU1,550 on the
      acquisition of this machine. Because the proceeds on disposal are expected to exceed the
      net carrying amount of the asset and related liability, no impairment loss has been
      recognised.
    </p>
  </div>
  <div class="page">
    <table class="sfp">
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th><h4>Land and Buildings</h4></th>
        <th><h4>Fixture and equipments</h4></th>
        <th><h4>Total</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign"><b>Cost</b></td>
      </tr>
      <tr>
        <td class="lalign">1 January 20X2</td>
        <td>2000</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Additions</td>
        <td>2000</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Disposals</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign">31 December 20X2</td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign"><b>Accumulated depreciation and impairment</b></td>
      </tr>
      <tr>
        <td class="lalign">1 January 20X2</td>
        <td>2000</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Annual depreciation</td>
        <td>2000</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Impairment</td>
        <td>2000</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Less accumulated depreciation on assets disposed of</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign">31 December 20X2</td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign"><b>Carrying amount</b></td>
      </tr>
      <tr>
        <td class="lalign">31 December 20X2</td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <h3 id="14">14. Intangible assets</h3>
    software:
    <table class="sfp">
      <tr>
        <th><div  style="padding-right: 150px; text-align: left">Cost</div></th>
        <th><h4>CU</h4></th>
      </tr>
      <tr>
        <td class="lalign">1 January 20X2</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Additions</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Disposals</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign">31 December 20X2</td>
        <td class="ttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign"><b>Accumulated depreciation and impairment</b></td>
      </tr>
      <tr>
        <td class="lalign">1 January 20X2</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Annual amortisation (included in administrative expenses*)</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">31 December 20X2</td>
        <td class="ttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign"><b>Carrying amount</b></td>
      </tr>
      <tr>
        <td class="lalign">31 December 20X2</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <p>
      *If the entity classifies its expenses by nature in its income statement, this would say ‘included in
      depreciation and amortisation expense’.
    </p>
  </div>
  <div class="page">
    <h3 id="15">15. Deferred tax</h3>
    <p>
      Differences between amounts recognised in the income statement and amounts reported
      to tax authorities in connection with investments in the subsidiary and associate are
      insignificant.
    </p>
    <p>
      The deferred tax assets are the tax effects of expected future income tax benefits
      relating to:
    </p>
    <p>(a)   the long-service benefit (note 19), which will not be tax-deductible until the benefit
            is actually paid but has already been recognised as an expense in measuring the
            Group’s profit for the year.
    </p>
    <p>(b)   the foreign exchange loss on trade payables, which will not be tax-deductible until
            the payables are settled but has already been recognised as an expense in measuring
            the Group’s profit for the year
    </p>
    <p>
      The Group has not recognised a valuation allowance against the deferred tax assets
      because, on the basis of past years and future expectations, management considers it
      probable that taxable profits will be available against which the future income tax
      deductions can be utilised.
    </p>
    <p>The following are the deferred tax liabilities (assets) recognised by the Group:</p>
    <table class="sfp">
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th><h4>Software</h4></th>
        <th><h4>Foreign exchange loss</h4></th>
        <th><h4>Long service benefit</h4></th>
        <th><h4>Total</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">1 January 20X1</td>
        <td>2000</td>
        <td>2000</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Charge (credit) to profit or loss for the year</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign">1 January 20X2</td>
        <td>2000</td>
        <td>2000</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Charge (credit) to profit or loss for the year</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign">31 December 20X2</td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <p>
      The deferred tax assets for the foreign exchange loss and the long-service benefits and the
      deferred tax liability for software relate to income tax in the same jurisdiction, and the law
      allows net settlement. Therefore, they have been offset in the statement of financial
      position as follows:
    </p>
    <table class="sfp">
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Deferred tax liability</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Deferred tax asset</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign"></td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
  </div>
  <div class="page">
    <h3 id="16">16. Bank overdraft and loan</h3>
    <table class="sfp">
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Bank overdraft</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Bank loan—fully repayable in 20X4, prepayable without penalty</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign"></td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <p>
      The bank overdraft and loan are secured by a floating lien over land and buildings owned
      by the Group with a carrying amount of CU266,000 at 31 December 20X2 (CU412,000 at
      31 December 20X1).
    </p>
    <p>
      Interest is payable on the bank overdraft at 200 points above the London Interbank
      Borrowing Rate (LIBOR). Interest is payable on the seven-year bank loan at a fixed rate of
      5 per cent of the principal amount.
    </p>
    <h3 id="17">17. Trade payables</h3>
    <p>
      Trade payables at 31 December 20X2 include CU42,600 denominated in foreign currencies
      (nil at 31 December 20X1).
    </p>
    <h3 id="18">18. Provision for warranty obligations</h3>
    Changes in the provision for warranty obligations during 20X2 were:
    <table class="sfp">
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th><h4>20x2</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">1 January 20X2</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Additional accrual during the year</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Cost of warranty repairs and replacement during the year</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign">31 December 20X2</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <p>
      The obligation is classified as a current liability because the warranty is limited to twelve
      months.
    </p>

  </div>
  <div class="page">
    <h3 id="19">19. Employee benefit obligation—long-service payments</h3>
    <p>
      The Group’s employee benefit obligation for long-service payments under a governmentmandated plan is based on a comprehensive actuarial valuation as of 31 December 20X2
      and is as follows:
    </p>
    <table class="sfp">
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th><h4>20x2</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Obligation at 1 January 20X2</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Additional accrual during the year</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Benefit payments made in year</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign">Obligation at 31 December 20X2</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <p>
      The obligation is classified as:
    </p>
    <table class="sfp">
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Current liability</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Non-current liability</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign">Total</td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <h3 id="20">20. Obligations under finance leases</h3>
    <p>
      The Group holds one piece of specialised machinery with an estimated useful life of five
      years under a five-year finance lease. The future minimum lease payments are as follows:
    </p>
    <table class="sfp">
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Within one year</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Later than one year but within five years</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Later than five years</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign"></td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
  </div>
  <div class="page">
    <p>The obligation is classified as:</p>
    <table class="sfp">
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Current liability</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Non-current liability</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign"></td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <h3 id="21">21. Commitments under operating leases</h3>
    <p>
      The Group rents several sales offices under operating leases. The leases are for an average
      period of three years, with fixed rentals over the same period.
    </p>
    <table class="sfp">
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th style="padding-left: 125px"><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Minimum lease payments under operating leases
          recognised as an expense during the year</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
    </table>
    <p>
      At year-end, the Group has outstanding commitments under non-cancellable operating
      leases that fall due as follows:
    </p>
    <table class="sfp">
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Within one year</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Later than one year but within five years</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Later than five years</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign"></td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <h3 id="22">22. Share capital</h3>
    <p>
      Balances as at 31 December 20X2 and 20X1 of CU30,000 comprise 30,000 ordinary shares
      with par value CU1.00 fully paid, issued and outstanding. An additional 70,000 shares are
      legally authorised but unissued.
    </p>
  </div>
  <div class="page">
    <h3 id="23">23. Cash and cash equivalents</h3>
    <table class="sfp">
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Cash on hand</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td class="lalign">Overdrafts</td>
        <td class="tttotal">2000</td>
        <td class="tttotal">2000</td>
      </tr>
      <tr>
        <td class="lalign"></td>
        <td class="ttotal">2000</td>
        <td class="ttotal">2000</td>
      </tr>
    </table>
    <h3 id="24">24. Contingent liabilities</h3>
    <p>
      During 20X2 a customer initiated proceedings against XYZ (Trading) Limited for a fire
      caused by a faulty candle. The customer asserts that its total losses are CU50,000 and has
      initiated litigation claiming this amount.
    </p>
    <p>
      The Group’s legal counsel do not consider that the claim has merit, and the Company
      intends to contest it. No provision has been recognised in these financial statements as the
      Group’s management does not consider it probable that a loss will arise.
    </p>
    <h3 id="25">25. Events after the end of the reporting period</h3>
    <p>
      On 25 January 20X3 there was a flood in one of the candle storage rooms. The cost of
      refurbishment is expected to be CU36,000. The reimbursements from insurance are
      estimated to be CU16,000.
    </p>
    <p>
      On 14 February 20X3 the directors voted to declare a dividend of CU1.00 per share
      (CU30,000 total) payable on 15 April 20X3 to shareholders registered on 31 March 20X3.
      Because the obligation arose in 20X3, a liability is not shown in the statement of financial
      position at 31 December 20X2.
    </p>
    <h3 id="26">26. Related party transactions</h3>
    <p>
      Transactions between the Company and its subsidiary, which is a related party, have been
      eliminated in consolidation.
    </p>
    <p>
      The Group sells goods to its associate (see note 12), which is a related party, as follows:
    </p>
    <table class="sfp">
      <tr>
        <td></td>
        <td colspan="2"><b>Sales of goods</b></td>
        <td colspan="2" style="font-size: 12px; text-align: center" ><b>Amounts owed to the Group by
          the related party and included in
          trade receivables at year-end</b></td>
      </tr>
      <tr>
        <th><div class="sfpth" style="padding-left: 125px"><pre></pre></div></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
        <th><h4>20x2</h4></th>
        <th><h4>20x1</h4></th>
      </tr>
      <tr>
        <td></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
        <td><b>CU</b></td>
      </tr>
      <tr>
        <td class="lalign">Associate</td>
        <td>2000</td>
        <td>2000</td>
        <td>2000</td>
        <td>2000</td>
      </tr>
    </table>
  </div>
  <div class="page">
    <p>
      The payments under the finance lease (see note 20) are personally guaranteed by a
      principal shareholder of the Company. No charge has been requested for this guarantee.
      The total remuneration of directors and other members of key management in 20X2
      (including salaries and benefits) was CU249,918 (20X1: CU208,260).
    </p>
    <h3 id="27">27. Approval of financial statements</h3>
    <p>
      These financial statements were approved by the board of directors and authorised for
      issue on 10 March 20X3.
    </p>
  </div>
</body>

</html>
